*.iml
.gradle
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizard.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/migrations.xml
.idea/runConfigurations.xml
.idea/misc.xml
.idea/.name
.idea/vcs.xml
/build
capture/
**/build
*.apk
*.ap_
*.dex
